# Build outputs (make octeon_pa220_config; make)
*.o
*.su
*.a
*.so
.depend*
.boards.depend
*.map
/u-boot*
/System*
*.srec
asm-offsets.s
include/autoconf.mk*
include/config.h
include/config.mk
include/asm
include/generated/
arch/mips/include/asm/arch
*.dtb
*.dtb.S
*.lex.c
*.tab.[ch]
*.d
tools/dtc
tools/dtcsrc/convert-dtsv0
tools/dtcsrc/ftdump
tools/dtcsrc/dtc
tools/dtcsrc/fdtget
tools/dtcsrc/fdtput
tools/dtcsrc/tests/*
!tools/dtcsrc/tests/*.c
!tools/dtcsrc/tests/*.h
!tools/dtcsrc/tests/*.S
!tools/dtcsrc/tests/*.dts
!tools/dtcsrc/tests/*.sh
!tools/dtcsrc/tests/Makefile*
tools/dtcsrc/version_gen.h
tools/envcrc
tools/gen_eth_addr
tools/img2srec
tools/kernel-doc/docproc
tools/mkenvimage
tools/mkimage
tools/ncb
tools/proftool
tools/update_octeon_header
